name: CI

on:
  push:
    branches:
      - '*/*'
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Login to Aliyun Container Registry
        if: ${{ secrets.ALIYUN_ACR_USER && secrets.ALIYUN_ACR_PASSWORD }}
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ALIYUN_ACR_REGISTRY || 'registry.cn-hangzhou.aliyuncs.com' }}
          username: ${{ secrets.ALIYUN_ACR_USER }}
          password: ${{ secrets.ALIYUN_ACR_PASSWORD }}

      - name: Set env variables
        id: set_env
        run: |
          echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
          echo "ACR_REGISTRY=${{ secrets.ALIYUN_ACR_REGISTRY || 'registry.cn-hangzhou.aliyuncs.com' }}" >> $GITHUB_ENV
          echo "ACR_NAMESPACE=${{ secrets.ALIYUN_ACR_NAMESPACE || 'watchalert' }}" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6.15.0
        with:
          context: .
          file: ./Dockerfile-nginx
          platforms: linux/amd64,linux/arm64
          push: ${{ secrets.ALIYUN_ACR_USER != '' && secrets.ALIYUN_ACR_PASSWORD != '' }}
          build-args: |
            VERSION=${{ env.DATE }}
          tags: |
            ${{ env.ACR_REGISTRY }}/${{ env.ACR_NAMESPACE }}/watchalert-web:${{ env.BRANCH_NAME }}
